<form class="form-horizontal form-complex">
<div class="control-group">
	<label class="control-label" for="stone_alert_post_alertid">alertid <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.alertid" id="stone_alert_post_alertid"/>
                <span class="help-block"> 
                    Identificador único do alerta.
                </span>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_executionmethod">executionMethod <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.executionmethod" id="stone_alert_post_executionmethod"/>
                <span class="help-block"> 
                    Tipo de execução do alerta.
                </span>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_referencedate">referenceDate <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.referencedate" id="stone_alert_post_referencedate"/>
                <span class="help-block"> 
                    Data de referência do alerta,
ou seja, a data utilizada como
referência para os parâmetros
de busca dos dados de
inteligência do alerta, no
padrão ISO 8601. Exe: 2021-01-15
                </span>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_stonecode">StoneCode <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.stonecode" id="stone_alert_post_stonecode"/>
                <span class="help-block"> 
                    merchantIdentifier - Identificador do seu cliente (pode ser qualquer valor que você utilize para identificar
seu cliente).
                </span>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_clientdocumentnumber">ClientDocumentNumber  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.clientdocumentnumber" id="stone_alert_post_clientdocumentnumber"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_ravip">RavIP  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.ravip" id="stone_alert_post_ravip"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_ravcityip">RavCityIP  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.ravcityip" id="stone_alert_post_ravcityip"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_ravstateip">RavStateIP  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.ravstateip" id="stone_alert_post_ravstateip"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_ravdevice">RavDevice  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.ravdevice" id="stone_alert_post_ravdevice"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_clientcity">ClientCity  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.clientcity" id="stone_alert_post_clientcity"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_clientstate">ClientState  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.clientstate" id="stone_alert_post_clientstate"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stone_alert_post_contastone">ContaStone  </label>
    <div class="controls">
	<input type="text" name="action.stone_alert_post.param.contastone" id="stone_alert_post_contastone"/>
    </div>
</div>
</form>